<head>
    <!--form css-->
		<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
</head>
{% extends 'layout.html'%}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }} 
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.services.label(class='form-control-label')}}
            {% if form.services.errors %}
                {{ form.services(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.services.errors%}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                        </div>
             {% else %}
                {{ form.services(class='form-control form-control-lg', placeholder='service') }}
            {%endif%}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn-outline-info") }}
     </div>
{% endblock %}